<script>
  import Beou from "./Beou.svelte";
</script>

<style>
  main {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: black;
  }
  @keyframes move {
    from {
      transform: translateY(-100vh);
    }
    to {
      transform: translateY(0);
    }
  }
  .wrapper {
    position: absolute;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: radial-gradient(
      circle at center,
      transparent,
      hsla(0, 0%, 0%, 0.2)
    );
  }
  .scroll {
    /* animation: move 8s linear infinite; */
    height: 100vh;
    width: 100vw;
    background-image: url("../row.svg");
    background-size: auto calc(100vh / 4);
    background-position-x: 15vw;
  }
</style>

<main>
  <div class="wrapper">
    <Beou />
  </div>
  <div class="scroll" />
</main>
