<script>
  import { onMount } from "svelte";

  var randomHue;
  var x;
  var y;
  function sq() {
    x = 1;
    y = 1;
    download();
  }
  function portrait() {
    x = 1;
    y = 1.8;
    download();
  }
  function landscape() {
    x = 2;
    y = 1;
    download();
  }
  function download() {
    let svg = document.querySelector("svg");
    let width = svg.getBoundingClientRect().height * 4;
    let height = svg.getBoundingClientRect().height * 4;
    let canvas = document.querySelector("canvas.download");
    let ctx = canvas.getContext("2d");
    svg.setAttribute("width", width);
    svg.setAttribute("height", height);
    canvas.width = width * 1.2 * x;
    canvas.height = height * 1.2 * y;
    let data = new XMLSerializer().serializeToString(svg);
    let win = window.URL || window.webkitURL || window;
    let img = new Image();
    let blob = new Blob([data], { type: "image/svg+xml" });
    let url = win.createObjectURL(blob);
    img.src = url;

    img.onload = function() {
      ctx.fillStyle = "black";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.drawImage(
        img,
        canvas.width / 2 - width / 2,
        canvas.height / 2 - height / 2
      );
      win.revokeObjectURL(url);
      var uri = canvas.toDataURL("image/png");
      // .replace("image/png", "octet/stream");
      a;
      var a = document.createElement("a");
      document.body.appendChild(a);
      a.style = "display: none";
      a.href = uri;
      a.download =
        "build-each-other-up-" + Math.floor(Math.random() * 10000 + 1) + ".png";
      a.click();
      window.URL.revokeObjectURL(uri);
      document.body.removeChild(a);
    };
  }

  function hue() {
    let slider = document.querySelector(".slider input");
    let svg = document.querySelector("svg");
    if (document.querySelector("defs")) {
      document.querySelector("defs").remove();
    }
    svg.insertAdjacentHTML("afterbegin", "<defs></defs>");
    let defs = document.querySelector("defs");
    let noise =
      "<filter id='noise' x='0' y='0'><feTurbulence type='turbulence' baseFrequency='2' stitchTiles='stitch' result='noise'/><feComposite operator='atop' in='noise' in2='SourceGraphic'/></filter>";
    defs.insertAdjacentHTML("afterbegin", noise);
    let paths = document.querySelectorAll("path");
    let pathArray = Array.from(paths);
    let randomHue = slider.value;
    let min = randomHue - 25;
    let max = min + 50;
    function getRandomIntInclusive(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    for (let i = 0; i < pathArray.length; i++) {
      let angle = getRandomIntInclusive(85, 95);
      let perLetter1 = getRandomIntInclusive(min, max);
      let perLetter2 = getRandomIntInclusive(perLetter1 - 2, perLetter1 + 2);
      let gradient1 = "hsl(" + perLetter1 + ", 100%, 60%)";
      let gradient2 = "hsl(" + perLetter2 + ", 100%, 50%)";
      let gradientId = Math.floor(Math.random() * 10000 + 1);
      defs.insertAdjacentHTML(
        "beforeend",
        "<linearGradient id='gradient" +
          gradientId +
          "' gradientTransform='rotate(" +
          angle +
          ")'><stop offset='0%' stop-color='" +
          gradient1 +
          "' /><stop offset='100%' stop-color='" +
          gradient2 +
          "' /></linearGradient>"
      );
      pathArray[i].setAttribute("fill", "url(#gradient" + gradientId + ")");
      pathArray[i].setAttribute("filter", "url(#noise)");
    }
  }
  onMount(() => {
    let slider = document.querySelector(".slider input");
    slider.value = Math.floor(Math.random() * 360 + 1);
    hue();
    document.querySelector("body").addEventListener("input", event => {
      hue();
    });
  });
</script>

<style>
  :root {
    --rainbow: linear-gradient(
      to right,
      hsl(0, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(360, 100%, 50%)
    );
  }
  div {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    justify-content: space-around;
  }
  svg {
    flex: 1;
    max-width: 90vw;
    width: 90vw;
    margin: 2rem auto;
  }
  path {
    transition: all 100ms ease-in-out;
    /* stroke: black; */
    /* paint-order: fill; */
  }
  .slider {
    margin: 0 2rem;
  }
  input {
    margin: 0;
    width: 100%;
  }
  input[type="range"] {
    width: 100%;
    margin: 10.05px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--rainbow);
    border: 3px solid #000000;
    border-radius: 25px;
    width: 100%;
    height: 9.9px;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    margin-top: -13.05px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--rainbow);
  }
  input[type="range"]::-moz-range-track {
    background: var(--rainbow);
    border: 3px solid #000000;
    border-radius: 25px;
    width: 100%;
    height: 9.9px;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 25.05px 0;
    color: transparent;
    width: 100%;
    height: 9.9px;
    cursor: pointer;
  }
  input[type="range"]::-ms-fill-lower {
    background: #ff7ac7;
    border: 3px solid #000000;
    border-radius: 50px;
  }
  input[type="range"]::-ms-fill-upper {
    background: var(--rainbow);
    border: 3px solid #000000;
    border-radius: 50px;
  }
  input[type="range"]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: var(--rainbow);
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: var(--rainbow);
  }
  @supports (-ms-ime-align: auto) {
    input[type="range"] {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    border: 0;
    background-color: white;
    color: currentColor;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    margin: 0.25rem;
    text-transform: uppercase;
  }
  button span {
    margin-left: 0.25rem;
  }
</style>

<div>
  <span class="slider">
    <input type="range" min="0" max="360" value={randomHue} />
  </span>
  <svg
    on:click={hue}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 489.6 544.22">
    <path
      d="M54.61,102.8H0V84.17H3.86c3.21,0,3.85-1.93,3.85-6.42V24.42c0-4.5-1.28-6.43-3.85-6.43H0V0H57.18c32.77,0,43.7,7.07,43.7,25.06,0,12.85-7.71,19.92-22.49,23.13,16.7,2.57,25.7,10.92,25.7,25.06C103.45,93.81,91.24,102.8,54.61,102.8ZM50.12,42.41c9,0,12.2-3.22,12.2-12.21S59.11,18.63,52,18.63H46.9V42.41ZM46.9,84.17H52c9,0,12.21-3.85,12.21-12.85S61,57.83,50.76,57.83H46.9Z" />
    <path
      d="M114.37,68.11V24.42c0-5.14-.64-6.43-3.86-6.43H107.3V0h55.26V18.63H158.7c-3.21,0-3.85,1.29-3.85,6.43v42.4c0,12.21,5.14,15.43,15.42,15.43,9,0,12.85-5.14,12.85-16.71V24.42c0-5.14-.64-6.43-3.86-6.43h-5.14V0h41.12V18.63h-4.49c-3.22,0-3.86,1.29-3.86,6.43V68.75c0,25.06-13.49,36-43,36C127.86,104.73,114.37,97,114.37,68.11Z" />
    <path
      d="M218.46,84.17h3.85c3.22,0,4.5-1.28,4.5-6.42V24.42c0-5.14-1.28-6.43-4.5-6.43h-3.85V0H275V18.63h-3.86c-3.21,0-4.49,1.29-4.49,6.43V78.39c0,5.14,1.28,6.42,4.49,6.42H275v18H218.46Z" />
    <path
      d="M281.42,84.17h3.86c3.21,0,4.5-1.28,4.5-6.42V24.42c0-5.14-.65-6.43-4.5-6.43h-3.86V0h57.83V18.63h-5.14c-3.21,0-4.5,1.29-4.5,6.43V84.17h1.29c10.92,0,13.49-.64,16.06-7.07l5.14-14.78h19.28V102.8h-90Z" />
    <path
      d="M377.16,84.17H381c3.21,0,4.49-1.28,4.49-6.42V24.42c0-5.14-1.28-6.43-4.49-6.43h-3.86V0H433.7C472.25,0,489,15.42,489,51.4c0,34.7-18,50.76-57.19,50.76H377.16Zm55.26,0c10.92,0,14.78-8.35,14.78-29.56V48.19c0-21.2-4.5-29.56-14.78-29.56h-7.07V84.17Z" />
    <path
      d="M0,207.79H4.5c3.85,0,4.5-1.29,4.5-7.07V141c0-5.78-1.29-7.06-4.5-7.06H0V113.34H104.09v35.33h-18l-3.86-6.42c-3.85-7.07-7.06-8.35-17.35-8.35H53.33v25.7h3.21c5.14,0,7.07-1.93,7.07-8.36v-2.57H81v43.7H63V189.8c0-6.43-1.93-9.64-7.07-9.64H53.33v27H66.18c10.28,0,12.85-.64,17.35-8.35l3.85-6.42h18V227.7H0Z" />
    <path
      d="M176.69,192.37H150.35l-2.57,8.35c-1.93,5.78,0,7.07,3.86,7.07h2.57v20.56h-45V207.79h3.21c4.5,0,5.14-1.29,7.07-7.07l32.13-87.38h45l30.2,87.38c1.93,5.78,3.86,7.07,8.35,7.07h2.57v20.56H173.48V207.79h2.57c4.5,0,5.78-1.29,3.86-7.07Zm-21.2-19.28H172.2l-8.36-26.34Z" />
    <path
      d="M237.73,171.16c0-36.62,21.85-60.39,55.26-60.39,13.49,0,24.42,3.21,30.2,13.49L329,112.69h21.85v47.55H317.41C316.12,146.1,312.27,139,302,139c-12.86,0-16.71,7.71-16.71,28.91v5.14c0,25.06,5.14,30.2,16.71,30.2,9,0,14.77-5.14,16.7-19.28l33.41,6.43c-3.85,25.06-18.63,39.84-53.33,39.84C259.58,230.92,237.73,210.36,237.73,171.16Z" />
    <path
      d="M356.6,207.79h4.5c3.85,0,4.49-1.29,4.49-7.07V141c0-5.78-1.28-7.06-4.49-7.06h-4.5V113.34h62.32V133.9h-3.21c-3.85,0-4.5,1.28-4.5,7.06v19.28H435V141c0-5.78-1.29-7.06-4.5-7.06h-3.21V113.34H489.6V133.9h-4.5c-3.85,0-4.49,1.28-4.49,7.06v59.76c0,5.78,1.28,7.07,4.49,7.07h4.5v20.56H427.28V207.79h3.21c3.85,0,4.5-1.29,4.5-7.07v-21.2H411.21v21.2c0,5.78,1.29,7.07,4.5,7.07h3.21v20.56H356.6Z" />
    <path
      d="M0,284.45c0-28.91,19.28-48.19,50.76-48.19s48.83,18,48.83,48.19S81,332,50.12,332,0,313.37,0,284.45ZM63,287v-5.78c0-18-3.86-25.06-12.85-25.06s-12.85,6.43-12.85,25.06V287c0,18,3.85,24.42,12.85,24.42S63,305.66,63,287Z" />
    <path
      d="M118.87,313.37H124c3.21,0,3.85-1.29,3.85-5.79V254.9c-6.42.64-8.35,2.57-9.64,7.71l-1.28,5.14H102.8V238.19h86.1v29.56H174.77l-1.29-5.14c-1.28-5.78-3.85-7.71-10.92-7.71v52.68c0,4.5.64,5.79,3.85,5.79h5.14v16.7h-51.4Z" />
    <path
      d="M192.11,313.37h3.22c3.21,0,3.85-1.29,3.85-5.79v-46.9c0-4.5-.64-5.78-3.85-5.78h-3.22V238.19h49.48V254.9H239c-3.21,0-3.86,1.28-3.86,5.78V276.1h19.28V260.68c0-4.5-.64-5.78-3.86-5.78H248V238.19h49.48V254.9h-3.22c-3.21,0-3.85,1.28-3.85,5.78v47.55c0,4.49.64,5.78,3.85,5.78h3.22v16.71H248V314h2.57c3.22,0,3.86-1.29,3.86-5.78V291.52H235.16v16.71c0,4.49.65,5.78,3.86,5.78h2.57v16.71H192.11Z" />
    <path
      d="M302.63,313.37h3.21c3.21,0,3.86-1.29,3.86-5.79v-46.9c0-4.5-.65-5.78-3.86-5.78h-3.21V238.19h82.88v28.27H371.38l-3.21-5.14c-3.22-5.78-5.15-6.42-13.5-6.42H345v20.56h2.57c3.86,0,5.14-1.29,5.14-7.07v-1.93h14.14V301.8H353.39v-1.93c0-5.14-1.29-7.71-5.14-7.71h-2.57v21.21H356c8.35,0,10.28,0,13.49-6.43l3.21-5.14H386.8v28.27H303.27Z" />
    <path
      d="M466.47,285.74c12.85,3.21,16.71,10.28,17.35,23.77,0,2.57,1.28,4.5,3.21,4.5h1.29v16.71h-25.7c-11.57,0-16.07-12.85-17.35-26.35-.64-6.42-1.93-10.92-9-10.92H435v15.42c0,4.5,1.28,5.78,3.85,5.78h3.22v16.71H392.58V314.65h3.21c2.57,0,3.86-1.28,3.86-5.78V260.68q0-5.78-3.86-5.78h-3.21V238.19h57.19c21.84,0,34.69,7.07,34.69,25.7C484.46,275.46,478,282.53,466.47,285.74ZM435,279.31h2.57c9,0,12.85-3.21,12.85-12.2s-3.21-11.57-11.57-11.57H435Z" />
    <path
      d="M14.14,472.25V388.73c0-9.64-1.93-12.21-7.71-12.21H0V341.18H107.3v36H99.59c-6.42,0-8.35,2.57-8.35,12.21v82.24c0,24.42,9.64,30.2,29.55,30.2,16.71,0,25.06-9.64,25.06-32.13V389.37c0-9.64-1.93-12.21-8.35-12.21H127.22v-36h80.31v36h-8.35c-6.42,0-8.35,2.57-8.35,12.21v84.81c0,48.19-25.7,70-83.53,70C40.48,544.22,14.14,528.8,14.14,472.25Z" />
    <path
      d="M215.24,503.74H223c6.42,0,7.71-2.57,7.71-12.21V388.73c0-9.64-1.93-12.21-7.71-12.21h-7.72v-36H329.61c54.62,0,80.32,19.91,80.32,61.68s-24.42,62.32-80.32,62.32h-21.2v26.35c0,9.63,1.93,12.2,7.71,12.2H326.4v36.63H215.24Zm93.17-73.25h8.35c15.42,0,22.49-8.35,22.49-26.34s-7.07-26.35-23.13-26.35h-7.71Z" />
    <path
      d="M441.41,474.18c-9.64-20.56-25.7-55.9-25.7-87.38v-45h72.61v45c0,31.48-16.07,67.46-25.7,87.38Zm-21.84,38.55a30.18,30.18,0,0,1,28.91-31.48h3.86c19.91,0,32.76,12.85,32.76,31.48s-12.85,31.49-32.76,31.49-32.77-12.85-32.77-31.49Z" />
  </svg>
  <span class="actions">
    <button on:click={sq}>
      <img src="../device-floppy.svg" alt="" />
      <span>Square</span>
    </button>
    <button on:click={portrait}>
      <img src="../device-floppy.svg" alt="" />
      <span>Portrait</span>
    </button>
    <button on:click={landscape}>
      <img src="../device-floppy.svg" alt="" />
      <span>Landscape</span>
    </button>
  </span>
</div>
<canvas class="download" style="display:none;" />
